<h2>Edit <%= @id %></h2>

<form>
  <div>
    <textarea>メモの1行目

メモの内容が入ります。メモの内容が入ります。
メモの内容が入ります。
メモの内容が入ります。メモの内容が入ります。
メモの内容が入ります。メモの内容が入ります。
メモの内容が入ります。
    </textarea>
  </div>
  <button type="submit">Save</button>
  <a href="/<%= @id %>">戻る</a>
</form>
