<form method="post" action="/<%= @memo.id %>" class="container">
  <input type="hidden" name="_method" value="patch">
  <div class="content">
    <textarea name="text" cols="40" rows="10" autofocus><%= @memo.text %></textarea>
  </div>
  <div class="action">
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/<%= @memo.id %>" class="btn">Cancel</a>
  </div>
</form>

