<div class="container">
  <div class="content">
    <article class="error">
      <h2 class="error_title"><%= @error_title %></h2>
      <p class="error_message"><%= @error_massage %></p>
      <p class="error_link"><a href="/" class="btn btn-primary">Back to Home</a></p>
    </article>
  </div>
</div>