<div class="container">
  <div class="content">
    <article class="article-error">
      <h2 class="error-code"><%= @error_title %></h2>
      <p class="error-message"><%= @error_massage %></p>
      <p class="error-link"><a href="/" class="btn btn-primary">Back to Home</a></p>
    </article>
  </div>
</div>