<div class="container">
  <div class="content">
    <article>
      <p><%= @error_massage %></p>
    </article>
  </div>
  <div class="action">
    <a href="/" class="btn btn-primary btn-full">Back to Home</a>
  </div>
</div>