<form method="post" action="/<%= @memo.id %>" class="container">
  <input type="hidden" name="_method" value="delete">
  <div class="content">
    <article>
      <p><%= @memo.html %></p>
    </article>
  </div>
  <div class="action">
    <a href="/<%= @memo.id %>/edit" class="btn">Edit</a>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/" class="btn">Back</a>
  </div>
</form>