<h2>Show id: <%= @id %></h2>

<div>
  <div>
メモの1行目<br>
<br>
メモの内容が入ります。メモの内容が入ります。<br>
メモの内容が入ります。<br>
メモの内容が入ります。メモの内容が入ります。<br>
メモの内容が入ります。メモの内容が入ります。<br>
メモの内容が入ります。
  </div>
  <a href="/<%= @id %>/edit">Edit</a>
  <a href="">Delete</a>
  <a href="/">戻る</a>
</div>