<div class="container">
  <div class="action">
    <a href="/new" title="New Memo" class="btn btn-primary btn-full"><span class="icon-plus"><i></i></span></a>
  </div>
  <div class="content">
<% unless @index.empty? %>
    <ul class="index">
<% @index.each do |memo| %>
      <li>
        <a href="/<%= memo[:id] %>">
          <b><%= memo[:title] %></b><br>
          <small><%= memo[:updated_at] %></small>
        </a>
      </li>
<% end %>
    </ul>
<% end %>
  </div>
</div>