<div class="container">
  <div class="action">
    <a href="/new" title="New Memo" class="btn btn-primary btn-new"><span class="icon-plus"><i></i></span></a>
  </div>
  <div class="content">
<% if @index.size > 0 %>
    <ul class="index">
<% @index.each do |id, title| %>
      <li><a href="/<%= id %>">[<%= id %>] <%= title %></a></li>
<% end %>
    </ul>
<% end %>
  </div>
</div>